#head {
  /* background: black; */
  height: 50px;
  width: 50px;
  /* background-color: green; */
  position: absolute;
}

#board {
  height: 700px;
  width: 700px;
  border: 1px black solid;
  position: relative;
}

#apple {
  height: 50px;
  width: 50px;
  position: absolute;
}

.body {
  background: black;
  height: 50px;
  width: 50px;
  background-color: rgb(159, 142, 85);
  position: absolute;
}